[Unit]
Description=SCS Philips Hue Display
After=scs_mqtt_subscriber.service

[Service]
Type=simple
EnvironmentFile=/home/pi/.scs.env
ExecStart=/bin/sh -c 'trap "exit" INT TERM ; trap "kill 0 ; wait" EXIT ; exec /home/pi/scs-venv/bin/python3 /home/pi/SCS/scs_philips_hue/src/scs_philips_hue/uds_receiver.py -v /home/pi/SCS/pipes/mqtt_subscription.uds | /home/pi/scs-venv/bin/python3 /home/pi/SCS/scs_philips_hue/src/scs_philips_hue/node.py -v -c | /home/pi/scs-venv/bin/python3 /home/pi/SCS/scs_philips_hue/src/scs_philips_hue/chroma.py -v | /home/pi/scs-venv/bin/python3 /home/pi/SCS/scs_philips_hue/src/scs_philips_hue/desk.py -v'

User=pi
Group=pi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
